<div ng-controller="header.controller as vm">
    <h1>Plan My Day</h1>
    <span ng-if="vm.userProfile" uib-dropdown class="user-profile">
        Hello,
        <a href id="user-profile-menu" uib-dropdown-toggle>
            {{vm.userProfile.firstName}} <span class="caret"></span>
        </a>
        <ul class="uib-dropdown-menu dropdown-menu-right" aria-labelledby="user-profile-menu">
            <li><a href="#" ng-click="vm.logout($event)">Logout</a></li>
        </ul>
    </span>
    <!--<ul ng-if="vm.userProfile" class="user-profile">-->
        <!--<li class=""greeting">Hello, {{vm.userProfile.firstName}}</li>-->
        <!--<li><a href="#" ng-click="vm.logout($event)">Logout</a></li>-->
    <!--</ul>-->
</div>