<div class="form-group">
  <label for="taskDescription">Description</label>
  <input id="taskDescription" class="form-control" type="text" ng-model="vm.task.description" />
</div>
<div class="form-group">
  <label for="taskDuration">Duration (in mins)</label>
  <input id="taskDuration" class="form-control" type="text" ng-model="vm.task.duration" />
</div>
<div class="form-group">
  <label for="taskLocation">Location</label>
  <input id="taskLocation" class="form-control" type="text" ng-model="vm.task.location" />
</div>
