* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 1em;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 .5em 0 .25em;
}

h1 {
  font-size: 1.77777777em;
  font-weight: normal;
}
h2 {
  font-size: 1.333333em;
  font-weight: normal;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
h4 {
  font-size: .75em;
  font-weight: bold;
}
h5 {
  font-size: .5625em;
  font-weight: bold;
}
h6 {
  font-size: .421875em;
  font-weight: bold;
}

p {
  line-height: 1.4em;
}

a {
  color: #336699;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

a:visited {
  color: #306090;
}


.app-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.app-wrapper:after {
  content: "";
  display: block;
}
.app-footer, .page-wrap:after {
  height: 50px;
  padding-top:12px;
}
.app-footer {
  text-align: center;
  background: orange;
}{

}

.app-header {
  height: 50px;
  background-color: orange;
  position: relative;
}

.app-header h1 {
  text-align: center;
  line-height: 50px;
  margin: 0;
}

.app-header .user-profile {
    position: absolute;
    top: 50%;
    right:10px;
    transform: translateY(-50%);

}

.app-header .user-profile li {
  float:left;
  list-style: none;
  padding: 0 10px;
  border-right: solid 1px rgba(0,0,0,0.3);

}


.app-header .user-profile li:last-child {
  border-right: 0;
  padding-right: 0;
}

.main-content-panel {
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
}

.card, .card-thick-border {
  display: block;
  background-color: #ffffff;
  border: solid 1px rgba(0,0,0,0.3);
  padding: 20px;
  margin:0 auto 10px;

}

.card-thick-border {
  border-width: 3px;
}

.card-list {
  list-style: none;
}

.centered {
  text-align: center;
}