* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}
.app-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.app-wrapper:after {
  content: "";
  display: block;
}
.app-footer, .page-wrap:after {
  height: 50px;
  padding-top:12px;
}
.app-footer {
  text-align: center;
  background: orange;
}{

}

.app-header {
  height: 50px;
  background-color: orange;
  text-align: center;
}

.app-header h1 {
  line-height: 50px;
  margin: 0;
}

.app-header .main-content-panel {
  position: relative;
}
.app-header .user-profile {
    position: absolute;
    top: 0;
    right:0;
}

.main-content-panel {
  max-width: 960px;
  margin: 0 auto;
}
