<div class="agendas-view">
    <ul class="card-list">
        <li class="centered" ng-repeat="agenda in vm.agendas">
            <a class="card-thick-border" href="#" ng-click="vm.goToAgenda(agenda, $event)">
                <p>{{agenda.date | date:'fullDate'}}</p>
                <p>{{agenda.description}}</p>
            </a>
        </li>
        <li class="centered">
            <a href="#/agendas/new" class="card-thick-border">
                <p class="muted">Plan a New Day</p>
            </a>
        </li>
    </ul>
</div>
