<div id="editAgenda" class="form-entry-page">
    <div class="page-title-panel">
        <h2>{{vm.title}}</h2>
    </div>
    <form ng-submit="vm.createAgenda()">
        <div class="form-group">
            <label for="agendaDate">What day would you like to plan?</label>
            <input id="agendaDate" class="form-control" type="date" />
        </div>
        <div class="form-group">
            <label for="agendaDescription">Description (optional)</label>
            <input id="agendaDescription" class="form-control" type="text" ng-model="vm.agenda.description" />
        </div>
        <div class="form-group">
            <label for="agendaStartTime">When will you start your day?</label>
            <select id="agendaStartTime" class="form-control" >
                <option value="0700">7:00AM</option>
                <option value="0730">7:30AM</option>
                <option value="0800">8:00AM</option>
                <option value="0830">8:30AM</option>
                <option value="0900">9:00AM</option>
                <option value="0930">9:30AM</option>
                <option value="1000">10:00AM</option>
                <option value="1030">10:30AM</option>
                <option value="1100">11:00AM</option>
                <option value="1130">11:30AM</option>
                <option value="1200">12:00PM</option>
            </select>
        </div>
        <div class="form-group">
            <label for="agendaEndTime">When will you end your day?</label>
            <select id="agendaEndTime" class="form-control" >
                <option value="1200">12:00PM</option>
                <option value="1230">12:30PM</option>
                <option value="1300">1:00PM</option>
                <option value="1330">1:30PM</option>
                <option value="1400">2:00PM</option>
                <option value="1430">2:30PM</option>
                <option value="1500">3:00PM</option>
                <option value="1530">3:30PM</option>
                <option value="1600">4:00PM</option>
                <option value="1630">4:30PM</option>
                <option value="1700">5:00PM</option>
                <option value="1730">5:30PM</option>
                <option value="1800">6:00PM</option>
                <option value="1830">6:30PM</option>
            </select>
        </div>

        <div class="form-group">
            <label for="startFromAddress">Starting from</label>
            <input id="startFromAddress" class="form-control" type="text" ng-model="vm.agenda.startAddress"/>
        </div>

        <div class="form-group">
            <label for="endAtAddress">Ending at</label>
            <input id="endAtAddress" class="form-control" type="text"/>
        </div>

        <button class="btn btn-primary" type="submit">Start Planning</button>
        <a href="{{vm.cancelTo}}" class="btn btn-link">Cancel</a>
    </form>
</div>
